.wrapper {
  border: solid red 2px;
  height: max-content;
}

.header-nav-wrapper {
  background-color: #c9daea;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 700px;
}
.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 14px 9%;
  margin: 0 auto;
  position: fixed;
  transition: background-color 0.3s ease-in-out;

  background-color: transparent;
  z-index: 1000;
}
.scrolled {
  background-color: white;
  box-shadow: 0.5px 0.5px 10px;
}
ul {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  grid-gap: 50px;
  align-items: center;
}

.header-selector {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #6d7d8b;
  transition: transform 0.3s ease-in-out;
}

.header-selector:hover {
  color: green;
}
.header {
  background-color: #c9daea;
  height: 700px;
  padding-left: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-h1p1 {
  vertical-align: baseline;
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.programming {
  border-radius: 50%;
  width: 50%;
}
.header-h1 {
  display: flex;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  font-size: 48px;
  line-height: 65px;
  text-transform: capitalize;
  color: #25313c;
}
.article-text-h2 {
  text-transform: capitalize;
  font-size: 3em;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: #25313c;
}

.header-p {
  display: flex;
  margin: 30px 0;
  font-family: Lato;
  font-size: 24px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #6d7d8b;
}

.article-text {
  flex: 3 1;
  justify-content: space-between;
}
.article-text-p {
  font-family: "Lato", sans-serif;
  font-size: 1.375rem;
  line-height: 2.25rem;
  margin-top: 3.125rem;
}
.team-photo {
  width: 100%;
}

.article_img {
  flex: 4 1;
}
.article {
  display: flex;
  gap: 130px;
  grid-gap: 130px;
  width: 100%;
  padding: 100px 9% 0 9%;
}

.article-footer-p {
  font-family: "Lato", sans-serif;

  font-weight: 300;
}

.article-solution {
  padding-top: 120px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.article-solution-p {
  line-height: 45px;
  font-size: 28px;
  font-weight: bolder;
  font-family: Lato Bold;
  text-transform: uppercase;
  text-align: center;
  color: #25313c;
  letter-spacing: 2px;
}
.article-solution-p,
.article-solution-h3 {
  width: 100%;
}
.article-solution-h3 {
  font-family: "Noto Serif";
  font-weight: 300;
  font-size: 26px;
  text-align: center;
  color: #6d7d8b;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 35px;
}

.solution-boxes-side {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  grid-gap: 30px;
  gap: 30px;
  margin: 100px;
}

.solution-boxes {
  vertical-align: baseline;
  box-shadow: 0 9px 22px 0 #082b4b4d;
  width: 30%;
  display: flex;
  grid-gap: 20px;
  gap: 20px;
  flex-direction: column;
  padding: 40px 0 20px;
  align-items: center;
  position: relative;
  transition: all 0.2s ease-in-out;
  min-width: 350px;
}
.solution-p {
  font-family: Lato Bold;
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.solution-description {
  font-size: 18px;
  text-align: center;
  line-height: 29px;
  color: #6d7d8b;
  width: 61%;
}

.ourTeam-text {
  text-align: center;
  font-size: 48px;
  color: #25313c;
  text-transform: capitalize;
  font-family: Lato Bold;
  font-weight: 700;
}

.ourTeam {
  margin-top: 120px;
}
.ourTeam-photo-container {
  margin-top: 50px;
  widows: 100%;
  height: 80vh;
}
.ourTeam-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lastSectionText {
  width: 60%;
  font-family: Lato Light;
  font-size: 20px;
  text-align: center;
}

.lastSectionH5 {
  text-align: center;
  text-transform: capitalize;
  font-size: 48px;
  font-family: Lato Bold;
  font-weight: bolder;
  color: #25313c;
}

.lastSectionP {
  margin: 45px 0;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #6d7d8b;
  line-height: 25px;
}
.IMG {
  width: 60%;
}

.lastSectionImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cbd8dd;
}

.lastSectionBoxHeaderText {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  color: #25313c;
}

li.LastSectionLi {
  list-style-image: url(/Images/check2.svg);
}

.LastSectionLi,
.courseduration {
  font-family: Lato;
  font-style: normal;
  font-size: 18px;
  color: #6d7d8b;
  margin-top: 15px;
}

.lastSectionBox {
  display: flex;
  grid-gap: 20px;
  gap: 20px;
  flex-direction: column;
}

.lastSectionBoxHeader {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  gap: 10px;
}

.lastSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
}

.lastSectionBoxes {
  display: flex;
  width: 100%;
  grid-gap: 25px;
  gap: 25px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.lastSectionUl {
  padding-left: 20px;
  display: block;
  width: fit-content;

  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.lastSectionWrapper {
  width: 100%;
  padding: 0 9%;
}

.lastSectionFooter {
  margin: 45px 0;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #6d7d8b;
  line-height: 25px;
  white-space: pre-line;
  display: block;
}

.lastSectionTel,
.lastSectionEmail {
  color: #6d7d8b;
}
.footerWrapperWrapper {
  background: #437f97;
}
.footerWrapper {
  padding: 60px 18%;
  display: flex;
  font-family: Lato;
  flex-wrap: wrap;
  grid-gap: 20px;
  gap: 20px;
}

.footerTexta {
  text-transform: capitalize;
  font-weight: 700;
  height: 19px;
  color: #fff;
  font-family: Lato;
}
.footerColItems {
  margin-top: 26px;
  width: 33%;
  display: flex;
  flex-direction: row;
}

.footerTextColumn1,
.footerTextColumn2 {
  flex: 1 1;
  grid-gap: 32px;
  gap: 32px;
  display: flex;
  flex-direction: column;
}

.footerLogoSocialIcons {
  display: flex;
  justify-content: space-evenly;
}

.footerLogoSocial {
  min-width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footerRightSide {
  flex: 1 1;
  grid-gap: 9px;
  gap: 9px;
  display: flex;
  flex-direction: column;
}

.footerRightP {
  font-family: Lato Bold;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #10c98f;
  margin-bottom: 30px;
}

.footerA,
.footerAddress {
  font-weight: 700;
  height: 19px;
  color: #fff;
  font-family: Lato;
}
.MobileNav {
  display: none;
}

@media (max-width: 1200px) {
  .article-text {
    width: 100%;
  }
  .img-container {
    display: none;
  }

  .article {
    flex-direction: column;
    gap: 60px;
  }
}
@media (max-width: 868px) {
  .ourTeam-photo-container {
    height: 50vh;
  }
}

@media (max-width: 768px) {
  .lastSectionBoxes {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 948px) {
  .footerWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .footerLogoSocial {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 0 50px 0;
    padding-top: 50px;
  }
  .footerRightSide {
    display: flex;
    align-items: center;
  }
  .footerColItems {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .footerTextColumn1,
  .footerTextColumn2 {
    align-items: center;
  }
}

@media (max-width: 1380px) {
  .nav {
    display: none;
  }
  .MobileNav {
    display: flex;
    justify-content: space-between;
    padding: 15px 9% 0 9%;
  }
  .stickyNav {
    position: fixed;
  }
}
